:root {
    --fondo: #0a0a0a;
    --tarjeta: #1a1a1a;
    --texto: #e0e0e0;
    --primario: #ff0000; 
    --primario-hover: #b30000;
    --borde: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: var(--fondo);
    color: var(--texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.card {
    background-color: var(--tarjeta);
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid var(--primario);
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.15);
    width: 100%;
    max-width: 500px; /* Un poco más ancho para los nombres largos */
}

h1 {
    color: var(--primario);
    text-align: center;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0 0 15px var(--primario);
}

.input-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
    color: var(--primario);
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 14px;
    background-color: #000;
    border: 1px solid var(--borde);
    color: #00ff00;
    border-radius: 4px;
    outline: none;
    font-size: 0.9rem;
}

select option {
    background-color: #1a1a1a;
    color: #e0e0e0;
}

input:focus, select:focus {
    border-color: var(--primario);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
}

button {
    width: 100%;
    padding: 16px;
    background-color: var(--primario);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

button:hover {
    background-color: var(--primario-hover);
    box-shadow: 0 0 20px var(--primario);
}

.result-box {
    margin-top: 1.5rem;
    padding: 20px;
    background-color: #000;
    border: 1px dashed var(--primario);
    text-align: center;
    border-radius: 4px;
}

.result-box p {
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #888;
}

.result-box span {
    font-size: 2rem;
    color: var(--primario);
    font-weight: bold;
    text-shadow: 0 0 10px var(--primario);
}
